.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #002e6d;
  color: white;
  height: 60px;

  .logo {
    display: flex;
  }
  .image img {
    height: 30px;
    width: auto;
    margin-right: 10px;
  }
  .title h1 {
    font-size: 1.5rem;
    margin: 2px 0 0 0;
    color: white;
  }
}

/* Add the button styles here */
.finish-btn {
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #188fc6; /* Using Brain Station 23 blue */
  color: white;
  font-weight: 500;
  transition: background-color 0.3s;
}

.finish-btn:hover {
  background-color: #1782b0; /* A darker shade for hover */
}
